body 
{
    background-color:tan;
    font-family:arial;
    color:white;
}

h1
{
    color:grey;
    font-family:verdana;
}

.maindiv
{
    background-color: white;
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
    text-align: left;
}

label 
{
    display: inline-block;
    width: 120px;
 }

#result_highlight
{
    background-color:yellow;
    font-weight: bold;
}

